*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body{
    background: cornflowerblue;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}
.app-container{
    width: 100vw;
    height: 100vh;
    position: absolute;
}
.quotes{
    margin: 13rem auto;
    width: 40rem;
    height: 15rem;
    background: darkslategrey;
    border-radius: 0.5rem;
    color: aqua;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    font-size: 1.3rem;
    padding: 0.5rem 2rem;
}


.carDiv{
    width: 40rem;
    padding: 0.5rem 8rem;

}
.but-con{
    position: absolute;
    width: 100vw;
    margin: 0 auto;
    bottom: 5rem;
    display: flex;
    display: none;
}
.button{
    padding: 0.5rem 2rem;
    width: max-content;
    background: crimson;
    border-radius: 0.5rem;
    margin: 0 auto;
    cursor: pointer;
    transition: 0.5s ease;
    color: white;
}
.button:hover{
    background: rgb(240, 65, 100);
}

.modes{
    position: relative;
    right: 2rem;
    top: 1rem;
    width: max-content;
    background: linear-gradient(45deg, cornflowerblue, aqua);
    height: 3rem;
    border-radius: 8rem;
    display: flex;
    padding: 1rem 1.5rem;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    transition: 0.5s ease;
    cursor: pointer;
    flex-direction: column;
}

.mode-modes{
    height: 0;
    border-radius: 0.5rem;
    width: 6.7rem;
    position: absolute;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
    transition: 0.5s ease;
    right: 0.9rem;
    top: 2.8rem;
    overflow: hidden;
    backdrop-filter: blur(10px);
}


.mode{
    padding: 0.5rem 2rem;
    transition: 0.5s ease;
    border-radius: 0.5rem;
}.modes:hover .mode-modes{
    overflow: visible;
    height: 4.5rem;
}
.mode:hover{
    background-color: rgb(157, 223, 223);
}
.nav{
    display: flex;
    justify-content: flex-end;
}
.gen{
    position: absolute;
    width: max-content;
    margin: 0 auto;
    bottom: 5rem;
    display: flex;
}
.ran-mode{
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    width: 100vw;
}
@media screen and (max-width: 650px) {
    .quotes{
        width: 20rem;
        font-size: 1.1rem;
        line-height: 1.5rem;
    }
    .carDiv{
        width: 20rem;
        padding: 0.5rem 2rem;
    }
}